<h2>
  Enter website information to translate!
</h2>
<div class="details">
  <div class="website-info">
    <div>
      <span class="label">URL</span>
      <input [(ngModel)]="url" class="input-url" type="text" name="url" />
    </div>

    <div>
      <span class="label">CSS Selector</span>
      <input
        [(ngModel)]="selector"
        class="input-selector"
        type="text"
        name="selector"
      />
    </div>
    <div>
      <input [(ngModel)]="disableSelector" type="checkbox" />
      <span>Disable selector</span>
    </div>
    <div>
      <button class="btn" (click)="onPageFetchClicked($event)">
        Fetch Page!
      </button>
      <button class="btn" (click)="onTranslateClicked($event)">
        Translate!
      </button>
    </div>
  </div>
  <div class="counts">
    <span>Character count: {{ characterCount }}</span>
    <span>Word count: {{ wordCount }}</span>
    <span>Line count: {{ lineCount }}</span>
  </div>
  <div class="counts">
    <span>Character count: {{ characterCount1 }}</span>
    <span>Word count: {{ wordCount1 }}</span>
    <span>Line count: {{ lineCount1 }}</span>
  </div>
</div>

<div class="text-container">
  <div class="text-original">{{ textOriginal }}</div>
  <div class="text-translated">{{ textTranslated }}</div>
</div>

<router-outlet></router-outlet>
