.details {
  display: flex;
  flex-direction: row;
}

.counts {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.website-info {
  display: flex;
  flex-direction: column;
}

.website-info div {
  margin-bottom: 0.5rem;
}

.label {
  margin: 0 0.5rem;
}

.btn {
  width: 5rem;
  padding: 0.25rem;
}

.input-url {
  min-width: 4rem;
  width: 17.5rem;
}

.input-selector {
  min-width: 4rem;
  width: 14rem;
}

.text-container {
  display: flex;
  justify-content: space-around;
  padding: 0.5rem;
}

.text-original {
  border: 1px solid lightgrey;
  width: calc((100vw - 7rem) / 2);
  height: calc(100vh - 12rem);
  overflow: scroll;
}

.text-translated {
  border: 1px solid lightgrey;
  width: calc((100vw - 7rem) / 2);
  height: calc(100vh - 12rem);
  overflow: scroll;
}
